.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 24px
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: rgba(27, 115, 173, 0.877);
}

.Danger {
    color:rgba(153, 2, 2, 0.808);
}

.Normal {
    color:rgb(131, 131, 131);
}